<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h3>Sign Up</h3>
            <hr/>
            <form [formGroup]="signUpForm" (ngSubmit)="onSignUp()">
                <div class="mb-3">
                    <label>Username</label>
                    <input type="text" class="form-control" formControlName="username"/>
                    <div *ngIf="signUpForm.get('username')?.touched && !signUpForm.get('username')?.valid">
                        <div *ngIf="signUpForm.get('username')?.errors?.['required']">
                            <span>Username is required</span>
                        </div>
                        </div>
                </div>
                <div class="mb-3">
                    <label>Password</label>
                    <input type="password" class="form-control" formControlName="password"/>
                    <div *ngIf="signUpForm.get('password')?.touched && !signUpForm.get('password')?.valid">
                        <div *ngIf="signUpForm.get('password')?.errors?.['required']">
                            <span>Password is required</span>
                        </div>
                   </div>
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn btn-primary" [disabled]="!signUpForm.valid">Sign Up</button>
                </div>
            </form>
            
        </div>
    </div>
</div>
