<div class="row my-4">
    <div class="col-md-12">
        <h3>Update Post</h3>
        <hr />
        <form [formGroup]="postForm" (ngSubmit)="onUpdatePost()">
            <div class="mb-3">
                <label>Name</label>
                <input type="text" class="form-control" formControlName="name"/>
                <div *ngIf="postForm.get('name')?.touched &&  !postForm.get('name')?.valid">
                    <div *ngIf="postForm.get('name')?.errors?.['required']">
                        <span>title is required</span>
                    </div>
                    <div  *ngIf="postForm.get('name')?.errors?.['minlength']">
                        <span>name should be minimum 6 characters</span>
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <label>Email</label>
                <input type="email" class="form-control" formControlName="email"/>
                <div *ngIf="postForm.get('email')?.touched &&  !postForm.get('email')?.valid">
                    <div *ngIf="postForm.get('email')?.errors?.['required']">
                        <span>title is required</span>
                    </div>
                    <div  *ngIf="postForm.get('email')?.errors?.['minlength']">
                        <span>email should be minimum 6 characters</span>
                    </div>
                    <div  *ngIf="postForm.get('email')?.errors?.['email']">
                        <span>enter valid email</span>
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <label>Number</label>
                <input type="number" class="form-control" formControlName="number"/>
                <div *ngIf="postForm.get('number')?.touched &&  !postForm.get('number')?.valid">
                    <div *ngIf="postForm.get('number')?.errors?.['required']">
                        <span>number is required</span>
                    </div>
                    <div  *ngIf="postForm.get('number')?.errors?.['minlength']">
                        <span>name should be minimum 10 characters</span>
                    </div>
                </div>
            </div>
            <div class="my-3">
                <button type="submit" class="btn btn-primary">Update Post</button>
            </div>
        </form>
    </div>
</div>
