<div class="counter-buttons">
    <button class="btn btn-primary" (click)="onIncrement()">Increment</button>
    <button class="btn btn-warning" (click)="onDecrement()">Decrement</button>
    <button class="btn btn-info" (click)="onReset()">Reset</button>
</div>
