<div class="row">
    <div class="col-md-6 offset-md-3">
        <h3>Login</h3>
        <hr />
        <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
           <div class="mb-3">
            <label>Username</label>
            <input type="text" class="form-control" formControlName="username"/>
            <div *ngIf="loginForm.get('username')?.touched && !loginForm.get('username')?.valid">
                <div *ngIf="loginForm.get('username')?.errors?.['required']">
                    <span>Username is required</span>
                </div>
                <!-- <div *ngIf="loginForm.get('username')?.errors?.['email']">
                    <span>Invalid Username</span></div> -->
            </div>
           </div>
           <div class="mb-3">
            <label>Password</label>
            <input type="text" class="form-control" formControlName="password"/>
            <div *ngIf="loginForm.get('password')?.touched && !loginForm.get('password')?.valid">
                <div *ngIf="loginForm.get('password')?.errors?.['required']">
                    <span>Password is required</span>
                </div>
           </div>
           </div>
           <div class="mb-3">
            <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid"> Login </button>
           </div>
        </form>
    </div>
</div>
