<div class="row">
    <div class="col-md-8">
        <h3>Posts List</h3>
        <div>
            <a href="#" class="btn btn-primary" [routerLink]="['/posts/add']">Add Posts</a>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                   <th>Sr No</th>
                   <th>ID</th>
                   <th>Name</th>
                   <th>Email</th> 
                   <th>Number</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let post of posts | async">
                    <td>{{ post.srno }}</td>
                    <td>{{post.id}}</td>
                    <td>{{ post.name }}</td>
                    <td>{{ post.email }}</td>
                    <td>{{ post.number }}</td>
                    <td><a href="" class="btn btn-primary" [routerLink]="['edit',post.id]">Update</a>&nbsp;
                        <button class="btn btn-danger" (click)="onDeletePost(post.id)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="col-md-4">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
