<div>
    <mat-tab-group (selectedTabChange)="tabChangeEventHandler($event)">
        <mat-tab label="users">
          <ng-template mat-tab-label>
            Users
          </ng-template>
            <app-users *ngIf="!loading && !error" [user]="user" (userId)="deleteUser($event)" (userData)="updateUser($event)"></app-users>
            <mat-spinner *ngIf="loading"></mat-spinner>
            <div *ngIf="error && !loading" class="error-message">
              <mat-icon>error_outline</mat-icon>
              <span>Error Occurred</span>
              <button mat-raised-button (click)="tryAgain()">Try Again</button>
            </div>
        </mat-tab>

        <mat-tab label="Change Detection">
          <ng-template mat-tab-label>
            Change Detection 
          </ng-template>
          <app-change-detection></app-change-detection>
        </mat-tab>
      </mat-tab-group>
  </div>
