<div class="container">
  <mat-card>
    <h2 i18n [translate]="'USERS.login'">Login</h2>
      <form (ngSubmit)="login()">
        <label i18n [translate]="'USERS.email'"></label>
        <mat-form-field>
          <input matInput type="email" [(ngModel)]="loginEmail" name="email" i18n-placeholder placeholder="Email" [translate]="'USERS.email'" required>
        </mat-form-field>
          <label i18n [translate]="'USERS.password'">Password</label>
        <mat-form-field>
          <input matInput type="{{ showPassword ? 'text' : 'password' }}" [(ngModel)]="loginPassword" name="password" i18n-placeholder placeholder="Password" [translate]="'USERS.password'" required>
          <button class="eye-button" mat-icon-button matSuffix (click)="showPassword = !showPassword" [attr.aria-label]="showPassword ? 'Hide password' : 'Show password'">
            <mat-icon>{{ showPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
        </mat-form-field>

        <div class="button-wrapper">
          <button class="btn" mat-button color="primary" i18n [translate]="'USERS.signUp'">Sign Up</button>
          <button class="btn" mat-raised-button color="primary" type="submit" i18n [translate]="'USERS.login'">Login</button>
        </div>
        <mat-select class="language-select" [(value)]="selectedLanguage" (selectionChange)="changeLanguage($event.value)" i18n-placeholder>
          <mat-option value="en">English</mat-option>
          <mat-option value="fr">French</mat-option>
          <mat-option value="de">German</mat-option>
        </mat-select>
    </form>
  </mat-card>
</div>
    