<app-header></app-header>
<app-loading-spinner *ngIf="showLoading | async"></app-loading-spinner>
<div class="container">
  <div class="row">
    <div class="col-md-12">
       <div class="alert alert-dang" *ngIf="errorMessage | async as error">{{error}}</div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>