<h1>Welcome to User's Protal...!!</h1>
<div class="add-user-button">
    <button mat-raised-button color="primary" (click)="add('add')">Add User</button>
  </div>

<mat-table [dataSource]="user">
    <!-- Sr. No Column -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef>User Id</mat-header-cell>
      <mat-cell *matCellDef="let user;">{{ user.id }}</mat-cell>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
      <mat-cell *matCellDef="let user">{{ user.name }}</mat-cell>
    </ng-container>
  
    <!-- Email Column -->
    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef>Email</mat-header-cell>
      <mat-cell *matCellDef="let user">{{ user.email }}</mat-cell>
    </ng-container>
  
    <!-- Phone Column -->
    <ng-container matColumnDef="number">
      <mat-header-cell *matHeaderCellDef>Number</mat-header-cell>
      <mat-cell *matCellDef="let user">{{ user.number }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="edit">
      <mat-header-cell *matHeaderCellDef>Edit</mat-header-cell>
      <mat-cell *matCellDef="let user"><button class="btn" mat-raised-button (click)="edit(user)">Edit</button></mat-cell>
    </ng-container>

    <ng-container matColumnDef="delete">
      <mat-header-cell *matHeaderCellDef>Delete</mat-header-cell>
      <mat-cell *matCellDef="let user"><button class="btn" mat-raised-button (click)="delete(user.id)">Delete</button></mat-cell>
    </ng-container>
  
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>

